form.uptogo.calcular-frete {
  > .title {
    font-size: 2.2rem;
    margin-top: 0;
  }
  > .fields {
    display: flex;
    > input[type="text"] {
      flex: 1;
      height: 35px;
    }
    > input[type="submit"] {
      margin-left: 10px;
      min-width: 130px;
    }
  }
  > ul.results {
    display: none;
    background-color: #f5f5f5;
    list-style: none;
    margin: 10px 0 0;
    padding: 20px;
    > li {
      line-height: 1;
    }
    > li:last-child {
      margin-bottom: 0;
    }
  }
}
