<?php if ($this->canShow()) { ?>
  <form id="simularFrete" class="uptogo calcular-frete" action="<?php echo $this->getUrl('rest/V1/estimarFrete'); ?>">
    <h2 class="simulateTitle title">
      Calcule seu frete
    </h2>
    <div class="simularFrete_cont fields">
      <input type="text" class="input-text simularFrete_submit_inputText" id="cep" required="required" pattern="\d{5}-{0,1}\d{3}">
      <input type="submit" value="Calcular frete" class="action primary simularFrete_submit" id="sendFrete" />
    </div>
    <ul id="containerFrete" class="simularFrete_itens results"></ul>
  </form>
  <script type="text/x-magento-init">
  {
    "*": {
      "Uptogo_Magento/js/calcular-frete": []
    }
  }
</script>
<?php } ?>
